# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/
.env/

# Jupyter
.ipynb_checkpoints/
#*.ipynb

# Optuna
*.db

# Logs & results
logs/
#results/
*.log
# *.csv

# Model checkpoints
#*.pt
*.pth
#*.json

# Data
/DATA/WGS_study/YSL/projects/latentgee/examples/data/
/DATA/WGS_study/YSL/projects/latentgee/examples/logs

/DATA/WGS_study/YSL/projects/latentgee/experiments
*.txt
#*.xlsx

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# script
/DATA/WGS_study/YSL/projects/latentgee/core.py
/DATA/WGS_study/YSL/projects/latentgee/setup.py

#packages
/DATA/WGS_study/YSL/projects/latentgee/*.tar.gz
/DATA/WGS_study/YSL/projects/latentgee/*.tar.gz.*